<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" packages="org.apache.logging.log4j.core,com.getsentry.raven.log4j2">
  <appenders>
    <Raven name="Sentry">
      <dsn>
        https://3735a01715c84defbb1a1c249fd7929d:5b0fa598a38641c3a484cc57e6e945dd@app.getsentry.com/92592?options
      </dsn>
      <tags>
        tag1:value1,tag2:value2
      </tags>
      <!--
        Optional, allows to select the ravenFactory
      -->
      <!--
      <ravenFactory>
        com.getsentry.raven.DefaultRavenFactory
      </ravenFactory>
      -->
    </Raven>
  </appenders>

  <loggers>
    <root level="all">
      <appender-ref ref="Sentry"/>
    </root>
  </loggers>
</configuration>